@import "tailwindcss";

@theme {
 
    --font-bruno: "Bruno Ace SC", sans-serif;
    --font-jura: "Jura", sans-serif; 
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
   
}
